SPF permerror

Hi.

I set the parameters as specified on the README and changed the DNS on my domain, but is not working.

I used https://vamsoft.com/support/tools/spf-policy-tester to test my policy.

The part **+1 msDomain argument after macro expansion: "116.223.107.40.116.223.107.40.domain.cc._spf.domain.cc._spf.domain.cc".** seems to be duplicated and causing error.

+0 msSPF check starting.
IP: 40.107.223.116
Sender: lukas@domain.cc
Domain: domain.cc
EHLO/HELO domain:
+0 msTXT record found.
Line #1: "v=spf1 include:%{ir}.%{d}._spf.domain.cc -all"
+0 msStarting SPF policy evaluation.
Policy: "v=spf1 include:%{ir}.%{d}._spf.domain.cc -all"
+0 msThe policy passed syntax validation.
+0 msEvaluating SPF mechanisms.
+0 msEvaluating mechanism "include".
Qualifier: "pass"
Domain argument: "%{ir}.%{d}._spf.domain.cc"
DNS limits status: DNS terms 0 of 10 allowed. Void lookups 0 of 2 allowed. See RFC7208 Section 4.6.4.
+0 msDomain argument after macro expansion: "116.223.107.40.domain.cc._spf.domain.cc".
+0 msEntering recursive evaluation.
+0 msSPF check starting.
IP: 40.107.223.116
Sender: lukas@domain.cc
Domain: 116.223.107.40.domain.cc._spf.domain.cc
EHLO/HELO domain:
+0 msRetrieving DNS TXT record for "116.223.107.40.domain.cc._spf.domain.cc".
+99 msTXT record found.
Line #1: "v=spf1 include:%{ir}.%{d}._spf.domain.cc -all"
+0 msStarting SPF policy evaluation.
Policy: "v=spf1 include:%{ir}.%{d}._spf.domain.cc -all"
+0 msThe policy passed syntax validation.
+0 msEvaluating SPF mechanisms.
+0 msEvaluating mechanism "include".
Qualifier: "pass"
Domain argument: "%{ir}.%{d}._spf.domain.cc"
DNS limits status: DNS terms 1 of 10 allowed. Void lookups 0 of 2 allowed. See RFC7208 Section 4.6.4.
**+1 msDomain argument after macro expansion: "116.223.107.40.116.223.107.40.domain.cc._spf.domain.cc._spf.domain.cc".**
+0 msEntering recursive evaluation.
+0 msSPF check starting.
IP: 40.107.223.116
Sender: lukas@domain.cc
Domain: 116.223.107.40.116.223.107.40.domain.cc._spf.domain.cc._spf.domain.cc
EHLO/HELO domain:
+0 msRetrieving DNS TXT record for "116.223.107.40.116.223.107.40.domain.cc._spf.domain.cc._spf.domain.cc".
+98 msNo SPF policy was found in (no TXT record).
+0 msPolicy evaluation finished with SPF "none". No SPF policy was found.
+0 msReturned from recursive evaluation.
+0 msThe "include" mechanism returned with SPF "none" result. Returning SPF "permerror".
+0 msFinished SPF policy evaluation.
DNS limits status: DNS terms 2 of 10 allowed. Void lookups 0 of 2 allowed. See RFC7208 Section 4.6.4.
+0 msThere was an error during the policy evaluation.
Error message: "The "include" mechanism returned with SPF "none" result. Returning SPF "permerror"."
+0 msPolicy evaluation finished with SPF "permerror".
+0 msReturned from recursive evaluation.
+0 msThe "include" mechanism returned with SPF "permerror" result. Returning SPF "permerror".
+0 msFinished SPF policy evaluation.
DNS limits status: DNS terms 2 of 10 allowed. Void lookups 0 of 2 allowed. See RFC7208 Section 4.6.4.
+0 msThere was an error during the policy evaluation.
Error message: "The "include" mechanism returned with SPF "none" result. Returning SPF "permerror"."
+0 msPolicy evaluation finished with SPF "permerror".
TEST SUMMARY
The evaluation completed in 198 ms, with 4 errors and 0 warning.
Result: SPF permerror
Permanent error. Fixing the problem requires intervention of the policy publisher.
Error message: "The "include" mechanism returned with SPF "none" result. Returning SPF "**permerror**"."

It is up to the recipient server to translate `include:%{ir}.%{d}._spf.domain.cc` correctly.

Test using Google IP: 66.249.80.1 with sender: xpg8@google.ehlo.email in Vamsoft passes as expected:
![image](https://github.com/smck83/expurgate-solo/assets/4591298/c99aa444-22f6-4efa-9663-6ca670751b40)


If Vamsoft is choosing to resolve the below:
````
116.223.107.40.116.223.107.40.domain.cc._spf.domain.cc._spf.domain.cc
````
Instead of the correct translation of `include:%{ir}.%{d}._spf.domain.cc` 

````
116.223.107.40.domain.cc._spf.domain.cc
````

It would appear `116.223.107.40.domain.cc` is being used in the domain part %{d} by the recipient or the record it is resolving looks like this

````
incldue:%{ir}.%{ir}.%{d}._spf.domain.cc._spf.domain.cc
````

instead of 

````
incldue:%{ir}.%{d}._spf.domain.cc
````

What do you see if you manually try to resolve `116.223.107.40.domain.cc._spf.domain.cc` e.g. using digweb ? If Expurgate is working, you should see a TXT record e.g. with either a pass with `ip4:40.107.223.116` or a fail indicated by this not being present.

https://www.digwebinterface.com/?hostnames=116.223.107.40.domain.cc._spf.domain.cc&type=TXT&ns=resolver&useresolver=9.9.9.10&nameservers=

Also this link has a number of sample requests pointing to https://xpg8.ehlo.email
https://github.com/smck83/expurgate#sample-requests--responses




Another test result using 'Advanced' tab in Vamsoft

![image](https://github.com/smck83/expurgate-solo/assets/4591298/933e3767-886d-4bff-b114-7fb073ffe4a6)

![image](https://github.com/smck83/expurgate-solo/assets/4591298/11b74933-a205-4787-9eb7-a1df075e239c)


Upon further testing & investigation it seems like your issue is you are not using the `SOURCE_PREFIX` environment variable which is required unless you want to run in demo mode like https://xpg8.ehlo.email where you would HARDCODE THE `%{d}` part.

`SOURCE_PREFIX` should be set to a random string; e.g. `yh4cf84md` and is where you will host your original source SPF records for each respective domain. e.g.

````
yh4cf84md.domain.cc.           IN          TXT     "v=spf1 include:mailgun.org  include:_spf.google.com ip4:192.0.2.1 ~all"

yh4cf84md.domain1.cc.           IN          TXT     "v=spf1 include:mailgun.org include:email.freshdesk.com  include:_spf.google.com ip4:192.0.2.1 ~all"

yh4cf84md.domain2.cc.           IN          TXT     "v=spf1 include:mailgun.org include:sendgrid.net  ip4:192.0.2.1 ~all"

yh4cf84md.domain3.cc.           IN          CNAME     yh4cf84md.domain2.cc. 

````

Without this, the script will loop itself and serve back itself for another check, i.e. vamsoft is trying to repass the attributes to the nested (looped) record.

e.g. The piece of information that gives this away is that in your test when it gets to the second resolution your response is your Expurgate record.. again...
![image](https://github.com/smck83/expurgate-solo/assets/4591298/002cd4a7-83d6-4684-8b22-2bc79d1644fd)

versus mine which is the ip4 result indicating a pass `Policy: "v=spf1 ip4:66.249.80.1 ~all"`
![image](https://github.com/smck83/expurgate-solo/assets/4591298/1b5f013a-25b9-453d-9363-6147eee9e912)

The documentation here covers this in greater detail which is for expurgate (2 container version) versus the expurgate-solo documentation; but the concept is the same. `SOURCE_PREFIX` is required, and `include:%{ir}.%{d}._spf.yourdomain.com` SHOULD NOT be in your `SOURCE_PREFIX` record.

https://github.com/smck83/expurgate

I have updated `README.md` so that `SOURCE_PREFIX` environment variable is `Mandatory`

I have the following parameters set on my docket container:

MY_DOMAINS	beckerit.ca beckerit.cc gomes.inf.br gomes.tur.br gomestur.ca gomestur.com.br smmonitoramento.com.br
OPTIONS	-e -t 5m -l -
SOURCE_PREFIX	_yujfv4kxuz
SOURCE_PREFIX_OFF	False
TZ	America/Regina
ZONE	_spf.beckerit.cc

On _yujfv4kxuz.beckerit.cc. 3600	IN	TXT	"v=spf1 include:amazonses.com include:sendgrid.net include:spf.protection.outlook.com include:_spf.google.com -all"

`nslookup -q=txt  _yujfv4kxuz.beckerit.ca` shows

`"include:amazonses.com include:sendgrid.net include:spf.protection.outlook.com include:_spf.google.com -all"`

This should be

`"v=spf1 include:amazonses.com include:sendgrid.net include:spf.protection.outlook.com include:_spf.google.com -all"`

That's strange. I put that record in the morning and then I saw my mistake and fixed it. The TTL is 1h and should be cleared by now.

Will need to check why CloudFlare is still serving the old record.

If I switch the SOURCE_PREFIX= another one and wait for expurgate to download the zones again, it should work, right? 

Sorry. I just checked again and you were checking beckerit.ca

I'm currently working on beckerit.cc since that domain is not on production yet.

_yujfv4kxuz.beckerit.cc. 3600	IN	TXT	"v=spf1 include:amazonses.com include:sendgrid.net include:spf.protection.outlook.com include:_spf.google.com -all"

After correcting these issues, and clearing cache on your DNS recursor/resolver that Expurgate points to, have you restarted it ?

It seems Expurgate is still serving back the source macro; which is strange in istself unless `include:%{ir}.%{d}._spf.beckerit.cc` was hosted in your record: `_yujfv4kxuz.beckerit.cc`

https://www.digwebinterface.com/?hostnames=1.5.89.167.beckerit.cc._spf.beckerit.cc&type=TXT&useresolver=9.9.9.10&ns=auth&nameservers=


Also, remove ; `SOURCE_PREFIX_OFF: False` it is not needed as it is on by default.

> That's strange. I put that record in the morning and then I saw my mistake and fixed it. The TTL is 1h and should be cleared by now.
> 
> Will need to check why CloudFlare is still serving the old record.
> 
> If I switch the SOURCE_PREFIX= another one and wait for expurgate to download the zones again, it should work, right?

Yes, you can set a new SOURCE_PREFIX and copy the record over to overcome delays waiting for DNSCACHE

Now it seems to be working.

It probably was the wrong spf record on the other domains causing the loop.

Thank you for looking into that.

Where I can check the logs of DNS queries in expurgate?

`/opt/expurgate/rbldnsdstd.log`
`/opt/expurgate/rbldnsderr.log`

If you expose TCP/9001 you can login to supervisord via `http://<internal-ip>:9001/logtail/expurgate-rbldnsd`

Default login : `admin/Expurgate`

![image](https://github.com/smck83/expurgate-solo/assets/4591298/808f5b80-8fe3-4d6b-afab-19f578364259)


I tried to check these, but I was hoping to have a log of all DNS requests to rbldnsds

For example:

IP 1.1.1.1 requested 1.5.89.167.beckerit.cc._spf.beckerit.cc. 300 IN	TXT "v=spf1 ip4:167.89.5.1 -all"

Right now `line 12` [here is active](https://github.com/smck83/expurgate-solo/blob/main/config/run.sh) and `line 11` has been hashed out - this was previously changed to reduce load of verbose logging.  This directly effects what rbldnsd process sends to `stdout` and `/opt/expurgate/rbldnsdstd.log`

I have hashed `line 12` and un-hashed `line 11` and redeployed the container. to smck83/expurgate-solo - pull the latest and rerun and you should the start to see realtime requests.

I dont think it will give you the level of visibility you're after in your example above, but will show you a log per DNS request.


A ENV variable could be added in future to toggle STDOUT logging e.g. `RBLDNSD_LOG_OUTPUT`

It is the ` -l - ` part in line 11 that sets rbldnsd to output stdout to console.
per:  https://linux.die.net/man/8/rbldnsd
````
-l logfile
Specifies a file to which log all requests made. This file is created after entering a chroot jail and becoming a user. Logfiles may be quite large, esp. on busy sites (rbldnsd will log every recognized request if this option is specified). This option is mainly intended for debugging purposes. Upon receiption of SIGHUP signal, rbldnsd reopens its logfile. If logfile prefixed with a plus sign (+), logging will not be buffered (i.e. each line will be flushed to disk); by default, logging is buffered to reduce system load. Specify a single hyphen (-) as a filename to log to standard output (filedescriptor 1), either buffered by default, or line-buffered if specified as '+-' (standard output will not be "reopened" upon receiving SIGHUP signal, but will be flushed in case logging is buffered).
````

I redeployed my container and still cannot see the logs on the /opt/expurgate/rbldnsdstd.log.
OPTIONS='-e -t 5m -l -' is only required for expurgate and not necessary on expurgate-solo, right?

Yes thats right, it is hard coded in expurgate-solo and not customisable.

When you say redeployed, did you also re-pull the image ?  e.g.
````
docker pull smck83/expurgate-solo
````

Yes. I did pull the last image.

Inside my container, run.sh has the following content:

#!/bin/bash
cp /opt/expurgate/config/rbldnsd.conf /etc/supervisor/conf.d/
cp /opt/expurgate/config/resolver.conf /etc/supervisor/conf.d/
cp /opt/expurgate/config/supervisord.conf /etc/supervisor/supervisord.conf

if [ -z "${ZONE}" ]
then
#echo command=/usr/sbin/rbldnsd -b 0.0.0.0 -n -c 0 -e -t 5m -p /var/run/rbldnsd.pid -l - _default.xpg8.tk:combined:/var/lib/rbldnsd/running-config >> /etc/supervisor/conf.d/rbldnsd.conf
echo command=/usr/sbin/rbldnsd -b 0.0.0.0 -n -c 0 -e -t 5m -p /var/run/rbldnsd.pid _default.xpg8.tk:combined:/var/lib/rbldnsd/running-config >> /etc/supervisor/conf.d/rbldnsd.conf
else
echo command=/usr/sbin/rbldnsd -b 0.0.0.0 -n -c 0 -e -t 5m -p /var/run/rbldnsd.pid -l - $ZONE:combined:/var/lib/rbldnsd/running-config >> /etc/supervisor/conf.d/rbldnsd.conf
# changed per https://github.com/smck83/expurgate-solo/issues/4
#echo command=/usr/sbin/rbldnsd -b 0.0.0.0 -n -c 0 -e -t 5m -p /var/run/rbldnsd.pid $ZONE:combined:/var/lib/rbldnsd/running-config >> /etc/supervisor/conf.d/rbldnsd.conf

fi

if [ -z "${SUPERVISOR_PW}" ];then
echo Not set && echo password={SHA}93eb18474e9067ff5a6f98c54b8854026cee02cb >> /etc/supervisor/supervisord.conf
elif [[ $SUPERVISOR_PW == "{SHA}"* ]];then
echo Received as SHA && echo password=$SUPERVISOR_PW >> /etc/supervisor/supervisord.conf
else
echo Not received as SHA && echo password=\{SHA\}$(echo -n "$SUPERVISOR_PW" | sha1sum | awk '{print $1}') >> /etc/supervisor/supervisord.conf
fi

I've changed `-l -` to `-l +-` as the default buffers logs.

I believe supervisord (which is not used on the \expurgate project as containers run separate) has issues with child-processesor and buffering.

My test shows below;

![image](https://github.com/smck83/expurgate-solo/assets/4591298/3f6d902d-8b2b-4480-989b-e82fd8f2e3ff)



Awesome. It's working now.